@font-face {
    font-family: "ITC Kabel Std";
    src: url("./fonts/ITCKabelStdBook.TTF");
}

@font-face {
    font-family: "ITC Kabel Std Bold";
    src: url("./fonts/ITCKabelStdBold.TTF");
}

@font-face {
    font-family: "ITC Kabel Std Demi";
    src: url("./fonts/ITCKabelStdDemi.TTF");
}

@font-face {
    font-family: "ITC Kabel Std Medium";
    src: url("./fonts/ITCKabelStdMedium.TTF");
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: darkgrey;
    font-family: "ITC Kabel Std";
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

#header{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: coral;
    display: block;
    font-family: "ITC Kabel Std Demi";
}

#site-links {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

#site-links:hover{
    color: #f1f1f1;
}

.sidenav span {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
}

#img-links{
    margin-bottom: 26px;
    float: bottom;
    bottom: 0;
    position: absolute;
    text-decoration: none;
    color: #818181;
    display: block;
}

#link-icon{
    padding-right: 25px;
    text-decoration: none;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    /*margin-left: 15vh; !* Same as the width of the sidenav *!*/
    /*font-size: 28px; !* Increased text to enable scrolling *!*/
    width: 85vw;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.section{
    position: absolute;
    padding-left: 15vw;
    height: 100vh;
    width: 85vw;

    overflow: hidden;
}

#section1{
    background-image: url("./images/sec1-back.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#section2{
    margin-top: 100vh;
    background-color: coral;
}

#section3{
    margin-top: 200vh;
    background-color: #818181;
}

#section4{
    margin-top: 300vh;
    background-color: coral;
}

#mid-text{
    color: #fff;
    margin-top: 30vh;
    margin-bottom: 30vh;
    margin-left: 60%;
}

#mid-text h1{
    font-family: "ITC Kabel Std Bold";
}

#headshot{
    width: 10vw;
    border-radius: 10px;
    border: 5px solid coral;
}

#section2 h1, #section4 h1{
    font-family: "ITC Kabel Std Demi";
    color: white;
    padding-top: 0.25vh;
}

#section3 h1{
    font-family: "ITC Kabel Std Demi";
    color: black;
    padding-top: 0.25vh;
}

#section2 h2{
    font-family: "ITC Kabel Std Medium";
    color: white;
}

#desc{
    color: white;
}

#content{
    padding-left: 2.5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    font-size: 20px;
    line-height: 25px;
    overflow: hidden;
}

#workplace{
    font-family: "ITC Kabel Std Medium";
    display: block;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#job{
    display: block;
    font-size: 1.17em;
    margin-top: 0.25em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#pdf-icon{
    font-size: 1.17em;
    height: 1.17em;
}
